@mixin container {
  padding: var(--spacer-xs) var(--spacer-s);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

@mixin container-compact {
  padding: 0 var(--spacer-s);
  max-width: var(--container-compact-max-width);
  margin: 0 auto;
}

@mixin container-padding {
  padding-top: var(--spacer-l);
  padding-bottom: var(--spacer-l);

  @media screen and (min-width: $breakpoint-desktop) {
    padding-top: var(--spacer-xl);
    padding-bottom: var(--spacer-xl);
  }
}
