@font-face {
  font-display: swap;
  font-family: Adelon;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/adelon-antique/AdelonAntique-Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans/OpenSans_Condensed-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/open-sans/OpenSans_Condensed-SemiBold.woff2') format('woff2');
}
