@mixin hover-state($offset: -1rem) {
  .no-touchevents & {
    &::after {
      position: absolute;
      bottom: 0.5rem;
      left: -1rem;
      width: calc(100% + var(--spacer-s));
      height: 3px;
      background-color: var(--color-red);
      content: '';
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      &::after {
        bottom: $offset;
        opacity: 1;
      }
    }
  }
}
