---
const { icon, copy, url } = Astro.props;

const getFilenameFromPath = path => /[^/]*$/.exec(path)[0];

const icons = await Astro.glob('../icons/contact/*.astro');
const requiredIcon = icons.find(
  currentIcon => getFilenameFromPath(currentIcon.file) === `${icon}.astro`
);

const isExternal = () => url && url.startsWith('http');

const urlProperties = {
  target: isExternal() ? '_blank' : '_self',
  rel: isExternal() ? 'noopener noreferrer' : '',
};
---

<a class="contact-item" href={url || copy} {...urlProperties}>
  <span><requiredIcon.default /></span>
  <span class="contact-item__copy">{copy}</span>
</a>

<style lang="scss" is:global>
  @import '@/scss/resources/hover-state';

  .contact-item {
    $self: &;

    position: relative;
    display: flex;
    gap: var(--spacer-s);
    font-size: 2.4rem;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;

    &__copy {
      @include hover-state(-2px);

      position: relative;
    }
  }
</style>
