---
const { headerNavItems } = Astro.props;
---

<header class="header">
  <div class="header__container">
    <a href="/">
      <img src="/bff-logo.png" class="header__logo" alt="Bear Fired Fodder"/>
    </a>

    <div class="header__nav">
      <nav class="header__nav-items">
        {headerNavItems.map((navItem, index) => (
          <div>
            <a class="header__nav-link" href={`#section-${index + 1}`}>{navItem}</a>
          </div>
        ))}
      </nav>

      <button class="header__nav-toggle" aria-label="Toggle navigation">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M4 6H20M4 12H20M4 18H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</header>

<style lang="scss" scoped>
@import '@/scss/container';

.header {
  background-color: var(--color-black);
  position: fixed;
  width: 100%;
  z-index: 999;

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 90px;
    height: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__nav-items {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      gap: var(--spacer-m);
    }

    font-size: 1.8rem;
    font-weight: var(--font-weight-semibold);
  }

  &__nav-link {
    color: var(--color-white);
    text-decoration: none;
    position: relative;

    &:after {
      position: absolute;
      left: -1rem;
      bottom: 0.5rem;
      opacity: 0;
      content: '';
      width: calc(100% + var(--spacer-s));
      background-color: var(--color-red);
      height: 3px;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        bottom: -1rem;
      }
    }
  }
}
</style>
