h1, h2 {
  margin-bottom: var(--spacer-s);
  font-family: var(--font-family-headings);
  font-weight: normal;

  @media screen and (min-width: $breakpoint-mobile) {
    margin-bottom: var(--spacer-m);
  }
}

h1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;

  @media screen and (min-width: $breakpoint-mobile) {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semibold);
  line-height: 2.4rem;
}

p {
  white-space: pre-wrap;

  &:last-child {
    margin-bottom: 0;
  }
}
