---
import getUrlForImage from '@/utils/getUrlForImage';

const { title, copy, image } = Astro.props;
---

<section id="section-1" class="about">
  <div class="about__container">
    <div class="about__content">
      <h2 class="about__title">{ title }</h2>
      <p class="about__copy">{ copy }</p>
    </div>
  </div>
  <div class="about__image">
    <img class="about__image-el" src={getUrlForImage(image).url()} />
  </div>
</section>

<style lang="scss" scoped>
@import '@/scss/container';

.about {
  position: relative;
  background-color: var(--color-grey);

  &__container {
    @include container;

    position: relative;
    z-index: 100;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__content {
    @include container-padding;
    @media screen and (min-width: 768px) {
      max-width: 50%;
      padding-right: var(--spacer-l);
    }

    @media screen and (min-width: 1024px) {
      max-width: calc(66% + 20px);
      padding-right: var(--spacer-xl);
    }
  }

  &__image {
    position: relative;

    @media screen and (min-width: 768px) {
      z-index: 50;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 50%;
        left: -100%;
        bottom: 0;
        background: url('/images/bff-flame-cutoff-about.png') no-repeat bottom right;
        background-size: auto 100%;
        z-index: 100;
      }

      &-el {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    @media screen and (min-width: 1024px) {
      width: 33%;

      &:before {
        height: 75%;
      }
    }
  }
}
</style>
