---
const { title, copy, image } = Astro.props;
---

<section id="section-1" class="about">
  <h2>{title}</h2>
  <p>{copy}</p>
</section>

<style lang="scss" scoped>
.about {
  background-color: var(--color-grey);
}
</style>
