---
const { title, contactDetails, socialLinks } = Astro.props;
---

<section id="section-4" class="contact">
  <div class="container">
    <h2>{title}</h2>
  </div>
</section>

<style lang="scss" scoped>
.contact {
  background-color: var(--color-black);
}
</style>
