<script>
  export let title;
  export let contactDetails;
  export let socialLinks;
</script>

<section class="contact">
  <div class="container">
    Contact
  </div>
</section>

<style lang="scss" scoped>
.contact {
  background-color: var(--color-black);
}
</style>
