---
const { title, images, id } = Astro.props
---

<section id={id} class="gallery">
  <div class="container">
    <h2>{title}</h2>
  </div>
</section>

<style lang="scss">
.gallery {
  background-color: var(--color-grey);
}
</style>
