---
const { title, images } = Astro.props
---

<section id="section-3" class="gallery">
  <div class="container">
    <h2>{title}</h2>
  </div>
</section>

<style lang="scss" scoped>
.gallery {
  background-color: var(--color-grey);
}
</style>
