<script>
  export let title;
  export let images;
</script>

<section class="gallery">
  <div class="container">
    Gallery
  </div>
</section>

<style lang="scss" scoped>
.gallery {
  background-color: var(--color-grey);
}
</style>
