---
import getUrlForImage from '@/utils/getUrlForImage';

const { title, images, id } = Astro.props;
---

<section id={id} class="gallery">
  <div class="container gallery__container">
    <h2>{title}</h2>

    <div class="gallery__image-wrapper">
      <div id="gallery-images">
        {images.map(image => <img src={getUrlForImage(image).url()} alt={image.alt} />)}
      </div>
    </div>
  </div>
</section>

<script>
  import Macy from 'macy';

  const macy = Macy({
    container: '#gallery-images',
    margin: 24,
    columns: 5,
    breakAt: {
      1200: 5,
      940: 3,
      520: 2,
      400: 1,
    },
  });
</script>

<style lang="scss">
  .gallery {
    background: var(--color-grey) url('/images/bff-flame-cutoff-gallery.png') no-repeat left bottom;
    background-size: auto 270px;

    &__container {
      padding-bottom: 0;
    }

    &__image-wrapper {
      max-height: 500px;
      overflow: hidden;
    }
  }
</style>
