---
const { title, images, id } = Astro.props
---

<section id={id} class="gallery">
  <div class="container">
    <h2>{title}</h2>
  </div>
</section>

<style lang="scss">
.gallery {
  background: var(--color-grey) url('/images/bff-flame-cutoff-gallery.png') no-repeat left bottom;
  background-size: auto 70%;
}
</style>
