---
import getUrlForImage from '@/utils/getUrlForImage';
import Button from '@/components/Button.astro';

const { title, image, mobileImage, menuLink } = Astro.props;
---

<section class="hero">
  <div class="hero__inner" style=`background-image: url(${getUrlForImage(image).url()})`>
    <div class="hero__content">
      <h1 class="hero__title">{title}</h1>
      <Button text="See our menu" link={`#${menuLink}`} />
    </div>
  </div>
</section>

<script>
import createIntersectionObserver from '@/utils/create-intersection-observer';

const hero = document.querySelector('.hero__content');

const handleHeroIntersection = () => {
  hero.style.opacity = 1;
  hero.style.transform = 'translateY(0)';
};

createIntersectionObserver(hero, handleHeroIntersection);
</script>

<style lang="scss">
  @import '@/scss/resources/container';

  .hero {
    color: var(--color-white);
    padding-top: var(--header-height);

    &__inner {
      display: flex;
      height: 60vh;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    &__content {
      @include container-compact;

      width: 100%;
      margin-top: 15vh;
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.5s ease-in-out;
    }

    &__title {
      max-width: 600px;
    }
  }
</style>
