---
import { type ImageType } from '@/utils/types';
import * as imageHandler from '@/utils/image-handler';
import Button from '@/components/Button.astro';
import LoadingSpinner from '@/components/LoadingSpinner.astro';

const { title, images, id } = Astro.props;
---

<section id={id} class="gallery">
  <div class="container gallery__container">
    <h2>{title}</h2>
    <LoadingSpinner class="gallery__loading" />

    <div class="gallery__inner">
      <div class="gallery__image-wrapper">
        <div id="gallery-masonary-container" class="gallery__images">
          {
            images
              .reverse()
              .map((image: ImageType) => (
                <img
                  class="gallery__image"
                  data-src={`${imageHandler.getUrl(image)}`}
                  alt={image.alt || images[0]._key}
                />
              ))
          }
        </div>
      </div>

      <div class="gallery__load-more">
        <Button tag="button" text="Load more" />
      </div>
    </div>
  </div>
</section>

<script src="./gallery.js"></script>

<style lang="scss" is:global>
  .gallery {
    position: relative;
    background: var(--color-grey) url('/images/bff-flame-cutoff-gallery.png') no-repeat left bottom;
    background-size: auto 270px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &--gradient {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: transparent;
        background: linear-gradient(
          0deg,
          rgb(2 0 36 / 100%) 0%,
          rgb(48 48 48 / 100%) 0%,
          rgb(255 255 255 / 0%) 100%
        );
        content: '';
      }
    }

    &__container {
      padding-bottom: 0;
    }

    &__inner {
      opacity: 0;
    }

    &__image-wrapper {
      position: relative;
      overflow: hidden;
      max-height: var(--gallery-height);
      transition: max-height 0.5s ease-in-out;
    }

    &__load-more {
      position: absolute;
      z-index: 9999;
      right: 0;
      bottom: var(--spacer-s);
      left: 0;
      display: flex;
      justify-content: center;
      margin: auto;
      cursor: pointer;
    }
  }
</style>
