---
import '@/scss/global.scss';
// import { urlForImage } from '@/utils/urlForImage';
import { getHomePageContent, getHeaderNavItems, getMenuItems } from '@/utils/api';

import Header from '@/components/Header.astro';

import Hero from '@/sections/Hero.astro';
import About from '@/sections/About.astro';
import Menu from '@/sections/Menu.astro';
import Gallery from '@/sections/Gallery.astro';
import Contact from '@/sections/Contact.astro';

const formatHeaderNavItems = headerNavItems => {
  const orderedHeaderNavItems = headerNavItems.sort((a, b) => (a.order > b.order) ? 1 : -1);
  return orderedHeaderNavItems.map(item => item.name);
}

const formatHomeContent = homeContent => {
  return {
    hero: {
      title: homeContent.heroTitle,
      image: homeContent.heroImage,
      mobileImage: homeContent.heroMobileImage
    },
    about: {
      title: homeContent.aboutTitle,
      copy: homeContent.aboutCopy,
      image: homeContent.aboutImage,
    },
    menu: {
      title: homeContent.menuTitle,
      copy: homeContent.menuCopy,
      backgroundImage: homeContent.menuBackgroundImage,
    },
    gallery: {
      title: homeContent.galleryTitle,
      images: homeContent.galleryImages,
    },
    contact: {
      title: homeContent.contactTitle,
      contactDetails: homeContent.contactDetails,
      socialLinks: homeContent.socialLinks,
    }
  }
}

const headerNavItems = await getHeaderNavItems();
const formattedHeaderNavItems = await formatHeaderNavItems(headerNavItems);

const homeContent = await getHomePageContent();
const formattedHomeContent = await formatHomeContent(homeContent[0]);

const menuItems = await getMenuItems();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bear Fired Fodder</title>
	</head>
	<body>
    <Header headerNavItems={formattedHeaderNavItems} />
    <Hero {...formattedHomeContent.hero} />
    <About {...formattedHomeContent.about} />
    <Menu {...formattedHomeContent.menu} menuItems={menuItems} />

    <!-- This will be a js component (svelte??) slick -->
    <Gallery {...formattedHomeContent.gallery} />
    <Contact {...formattedHomeContent.contact} />
  </body>
</html>
