---
import Main from '../views/Main.svelte';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bear Fired Fodder</title>
	</head>
	<body>
  <div class="wrapper">
    <Main client:load />
  </div>
</body>
</html>
